<h1>Please enter activity details</h1>

<form class="well span4" action="/add-activity" method="POST">
  <label>Select player </label>
  <input type="text" class="span3" placeholder="Type the player name" name="name">
  <br/>
  <label>Select activity </label>
  <input type="text" class="span3" placeholder="Type the activity" name="activitytype">
    <label>Enter duration </label>
  <input type="text" class="span3" placeholder="Type the duration" name="time">
    <label>Enter calories </label>
  <input type="text" class="span3" placeholder="Type the calories" name="cal">
    <label>Enter distance </label>
  <input type="text" class="span3" placeholder="Type the distance" name="km">
  <br/>
  <input type="submit" class="btn">
</form>