<h1>Please enter the new activitytype</h1>

<form class="well span4" action="/add-activitytype" method="POST">
  <label>Enter name </label>
  <input type="text" class="span3" placeholder="Type the activity name" name="name">
  <br/>
  <input type="submit" class="btn">
</form>