<h1>Please enter activity details</h1>

<form class="well span4" action="/add-activity" method="POST">
<fieldset>
  <div class="control-group">
    <label class="control-label" for="name">Select Player</label>
    <div class="controls">
      <select id="name" name="name">
                <% @players.each do |player| %>
                  <option value = "<%= player.name %>">
                  <%= player.name %>
                  </option>
                <% end %>
      </select>
    </div>
  </div>
</fieldset>

<fieldset>
  <div class="control-group">
    <label class="control-label" for="activitytype">Select Activity</label>
    <div class="controls">
      <select id="activitytype" name="activitytype">
                <% @activities_type.each do |activity| %>
                  <option value = "<%= activity.id %>">
                  <%= activity.name %>
                  </option>
                <% end %>
      </select>
    </div>
  </div>
</fieldset>
    <label>Enter the date when you made the activity (format : jj/mm)</label>
  <input type="text" class="span3" placeholder="Type the date" name="made_at">
    <label>Enter duration (unit : minutes)</label>
  <input type="text" class="span3" placeholder="Type the duration (mn)" name="time">
    <label>Enter calories (unit : cal) </label>
  <input type="text" class="span3" placeholder="Type the calories (cal)" name="cal">
    <label>Enter distance (unit : km)</label>
  <input type="text" class="span3" placeholder="Type the distance (km)" name="km">
  <br/>
  <input type="submit" class="btn">
</form>