<h1>Please enter the player's name</h1>

<form class="well span4" action="/add-player" method="POST">
  <label>Enter name </label>
  <input type="text" class="span3" placeholder="Type the player name" name="name">
  <br/>
  <input type="submit" class="btn">
</form>