<h1>Here is the player</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Player Name</th>
      <th>Player Score</th>
    </tr>
  </thead>
  <tbody>

      <tr>
        <td><%=@player.name%></td>
        <td><%=@player.score%></td>
      </tr>


  </tbody>
</table>