<h1>Welcome to keeperchallenge ! </h1>
<% if !message.empty? %>
  <div class="alert alert-success"><%=message%></div>
<% end %>
<p>Keeperchallenge will help us track our activity during the June challenge.</p>

<p>To start, please select your activity !</p>
<ul>
<li><a href="/add-activity">Add activity</a></li>
<li><a href="/add-player">Add player</a></li>
<li><a href="/player">Show Player</a></li>
<li><a href="/scoreboard">Display scoreboard</a></li>
</ul>
    