<html>
  <head>
    <title>KeeperChallenge</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
    
      <%= yield %>

    </div>
  </body>
</html>